body {
    background-color: #2A5D5A; 
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
}

h1 {
    background-color: #3a2c2c;
    color: white;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 40px;
}

.box {
    background-color: aqua;
    border: 10px solid black;   
    outline: 5px solid red;    
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
}

